[submodule "plugins/pi-zentui"]
	path = plugins/pi-zentui
	url = https://github.com/ernestjsf/attro-zentui.git
[submodule "plugins/pi-cc-extensions"]
	path = plugins/pi-cc-extensions
	url = https://github.com/ernestjsf/attro-cc-extensions.git
[submodule "plugins/pi-lens"]
	path = plugins/pi-lens
	url = https://github.com/ernestjsf/attro-lens.git
[submodule "plugins/rpiv-mono"]
	path = plugins/rpiv-mono
	url = https://github.com/ernestjsf/attro-rpiv.git
[submodule "plugins/pi-subagents"]
	path = plugins/pi-subagents
	url = https://github.com/ernestjsf/attro-subagents.git
[submodule "plugins/attro-core"]
	path = plugins/attro-core
	url = https://github.com/ernestjsf/attro-core.git
	branch = main
